In [2]:
import pandas as pd
import numpy as np

In [3]:
_Spring202103 = "Resources/2021_Spring/202103-citibike-tripdata.csv"
_Spring202104 = "Resources/2021_Spring/202104-citibike-tripdata.csv"
_Spring202105 = "Resources/2021_Spring/202105-citibike-tripdata.csv"

In [4]:
Spring202103_df = pd.read_csv(_Spring202103)
Spring202104_df = pd.read_csv(_Spring202104)
Spring202105_df = pd.read_csv(_Spring202105)

C:\Users\klew1\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
Spring202103_df.insert(loc=0, column='date', value=202103)

In [6]:
Spring202104_df.insert(loc=0, column='date', value=202104)

In [7]:
Spring202105_df.insert(loc=0, column='date', value=202105)

In [8]:
# append csvs

merge_Spring2021 = pd.concat([Spring202103_df, Spring202104_df, Spring202105_df])
Spring2021 = merge_Spring2021.drop(columns=["ride_id", "started_at", "ended_at", "start_station_id", "end_station_id"], axis=1)
Spring2021.head()

,date,rideable_type,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,202103,docked_bike,Willoughby Ave & Wyckoff Ave,Cedar St & Myrtle Ave,40.705614,-73.921530,40.697842,-73.926241,member
1,202103,docked_bike,Franklin Ave & Myrtle Ave,Jackson St & Leonard St,40.694546,-73.958013,40.716380,-73.948213,member
2,202103,docked_bike,Adam Clayton Powell Blvd & W 141 St,Goble Pl & Macombs Rd,40.819241,-73.941057,40.844075,-73.917256,member
3,202103,docked_bike,Bayard St & Baxter St,Hudson St & Reade St,40.716021,-73.999743,40.716250,-74.009106,member
4,202103,docked_bike,Bayard St & Baxter St,Hudson St & Reade St,40.716021,-73.999743,40.716250,-74.009106,member

In [9]:
Spring2021.dropna(inplace = True )

In [10]:
Spring2021.dtypes

date                    int64
rideable_type          object
start_station_name     object
end_station_name       object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [11]:
Spring2021.head()

,date,rideable_type,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,202103,docked_bike,Willoughby Ave & Wyckoff Ave,Cedar St & Myrtle Ave,40.705614,-73.921530,40.697842,-73.926241,member
1,202103,docked_bike,Franklin Ave & Myrtle Ave,Jackson St & Leonard St,40.694546,-73.958013,40.716380,-73.948213,member
2,202103,docked_bike,Adam Clayton Powell Blvd & W 141 St,Goble Pl & Macombs Rd,40.819241,-73.941057,40.844075,-73.917256,member
3,202103,docked_bike,Bayard St & Baxter St,Hudson St & Reade St,40.716021,-73.999743,40.716250,-74.009106,member
4,202103,docked_bike,Bayard St & Baxter St,Hudson St & Reade St,40.716021,-73.999743,40.716250,-74.009106,member

In [12]:
Spring2021.to_csv('Resources/Spring2021.csv', index=False)