In [1]:
import pandas as pd
import numpy as np

In [2]:
_Spring202203 = "Resources/2022_Spring/202203-citibike-tripdata.csv"
_Spring202204 = "Resources/2022_Spring/202204-citibike-tripdata.csv"
_Spring202205 = "Resources/2022_Spring/202205-citibike-tripdata.csv"

In [3]:
Spring202203_df = pd.read_csv(_Spring202203)
Spring202204_df = pd.read_csv(_Spring202204)
Spring202205_df = pd.read_csv(_Spring202205)

C:\Users\klew1\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
Spring202203_df.insert(loc=0, column='date', value=202203)

In [5]:
Spring202204_df.insert(loc=0, column='date', value=202204)

In [6]:
Spring202205_df.insert(loc=0, column='date', value=202205)

In [7]:
# append csvs

merge_Spring2022 = pd.concat([Spring202203_df, Spring202204_df, Spring202205_df])
Spring2022 = merge_Spring2022.drop(columns=["ride_id", "started_at", "ended_at", "start_station_id", "end_station_id"], axis=1)
Spring2022.head()

,date,rideable_type,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,202203,electric_bike,Washington St & Barrow St,University Pl & E 14 St,40.731911,-74.008769,40.734814,-73.992085,member
1,202203,classic_bike,Washington St & Barrow St,W 11 St & 6 Ave,40.731911,-74.008769,40.735324,-73.998004,member
2,202203,classic_bike,1 Ave & E 110 St,E 110 St & Madison Ave,40.792327,-73.938300,40.796154,-73.947821,member
3,202203,classic_bike,Crescent St & Broadway,31 Rd & 21 St,40.763359,-73.928647,40.766824,-73.930486,member
4,202203,classic_bike,Crescent St & Broadway,31 Rd & 21 St,40.763359,-73.928647,40.766824,-73.930486,member

In [8]:
Spring2022.dropna(inplace = True )

In [9]:
Spring2022.dtypes

date                    int64
rideable_type          object
start_station_name     object
end_station_name       object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [10]:
Spring2022.head()

,date,rideable_type,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,202203,electric_bike,Washington St & Barrow St,University Pl & E 14 St,40.731911,-74.008769,40.734814,-73.992085,member
1,202203,classic_bike,Washington St & Barrow St,W 11 St & 6 Ave,40.731911,-74.008769,40.735324,-73.998004,member
2,202203,classic_bike,1 Ave & E 110 St,E 110 St & Madison Ave,40.792327,-73.938300,40.796154,-73.947821,member
3,202203,classic_bike,Crescent St & Broadway,31 Rd & 21 St,40.763359,-73.928647,40.766824,-73.930486,member
4,202203,classic_bike,Crescent St & Broadway,31 Rd & 21 St,40.763359,-73.928647,40.766824,-73.930486,member

In [11]:
Spring2022.to_csv('Resources/Spring2022.csv', index=False)