In [1]:
import pandas as pd
import numpy as np

In [2]:
NY_Jan2022 = "../Resources/Exports/202201-citibike-tripdata.csv"
NY_Jun2022 = "../Resources/Exports/202206-citbike-tripdata.csv"
NJ_Jan2022 = "../Resources/Exports/JC-202201-citibike-tripdata.csv"
NJ_Jun2022 = "../Resources/Exports/JC-202206-citibike-tripdata.csv"

In [3]:
NY_Jan2022_df = pd.read_csv(NY_Jan2022)
NY_Jun2022_df = pd.read_csv(NY_Jun2022)
NJ_Jan2022_df = pd.read_csv(NJ_Jan2022)
NJ_Jun2022_df = pd.read_csv(NJ_Jun2022)

C:\Users\klew1\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
# append files

merge_2022 = pd.concat([NY_Jan2022_df, NY_Jun2022_df, NJ_Jan2022_df, NJ_Jun2022_df])
merge_2022.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member

In [5]:
list(merge_2022)

['ride_id',
 'rideable_type',
 'started_at',
 'ended_at',
 'start_station_name',
 'start_station_id',
 'end_station_name',
 'end_station_id',
 'start_lat',
 'start_lng',
 'end_lat',
 'end_lng',
 'member_casual']

In [6]:
merge_2022['StartDate'] = pd.to_datetime(merge_2022['started_at']).dt.date
merge_2022['StartTime'] = pd.to_datetime(merge_2022['started_at']).dt.time

In [7]:
merge_2022['EndDate'] = pd.to_datetime(merge_2022['ended_at']).dt.date
merge_2022['EndTime'] = pd.to_datetime(merge_2022['ended_at']).dt.time

In [8]:
# drop columns
merge_2022 = merge_2022.drop(columns=["ride_id", "start_station_name", "end_station_name", "started_at", "ended_at"])

In [9]:
# rename data fields
merge_2022['rideable_type'] = np.where(merge_2022['rideable_type']=="classic_bike",1,(np.where(merge_2022['rideable_type']=="electric_bike",2,0)))

In [10]:
# dropping docked_bike = 0 because a docked_bike is a false start or total time <60 sec
merge_2022.replace(0,np.NaN, inplace=True)

In [11]:
# rename data fields
merge_2022['member_casual'] = np.where(merge_2022['member_casual']=="member",1,2)

In [12]:
merge_2022.dropna(how='any', inplace=True)

In [13]:
merge_2022['rideable_type'] = merge_2022['rideable_type'].astype(int)

merge_2022.rideable_type.unique()

array([1, 2])

In [14]:
merge_2022.head()

,rideable_type,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,StartDate,StartTime,EndDate,EndTime
0,1,4488.09,4605.04,40.688489,-73.991160,40.692395,-73.993379,1,2022-01-18,08:23:52,2022-01-18,08:28:18
1,1,5616.08,5659.05,40.727243,-73.976831,40.727408,-73.981420,1,2022-01-21,09:03:22,2022-01-21,09:05:44
2,1,6140.05,6756.05,40.741740,-73.994156,40.762009,-73.996975,1,2022-01-22,14:28:32,2022-01-22,14:53:18
3,2,6850.01,6958.06,40.764175,-73.915840,40.768692,-73.924957,1,2022-01-19,14:49:47,2022-01-19,14:54:02
4,2,4362.04,4748.07,40.685376,-73.983021,40.696233,-73.991421,1,2022-01-16,14:36:06,2022-01-16,14:44:06

In [15]:
merge_2022.dtypes

rideable_type         int32
start_station_id     object
end_station_id       object
start_lat           float64
start_lng           float64
end_lat             float64
end_lng             float64
member_casual         int32
StartDate            object
StartTime            object
EndDate              object
EndTime              object
dtype: object

In [16]:
merge_2022.to_csv('../Resources/Jan_vs_Jun 2022.csv', index=False)