In [1]:
import pandas as pd
import numpy as np

In [2]:
NY_Jan2022 = "../Resources/Exports/202201-citibike-tripdata.csv"
NY_Jun2022 = "../Resources/Exports/202206-citbike-tripdata.csv"
NJ_Jan2022 = "../Resources/Exports/JC-202201-citibike-tripdata.csv"
NJ_Jun2022 = "../Resources/Exports/JC-202206-citibike-tripdata.csv"

In [3]:
NY_Jan2022_df = pd.read_csv(NY_Jan2022)
NY_Jun2022_df = pd.read_csv(NY_Jun2022)
NJ_Jan2022_df = pd.read_csv(NJ_Jan2022)
NJ_Jun2022_df = pd.read_csv(NJ_Jun2022)

C:\Users\klew1\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
NY_Jan2022_df.dropna(how='any', inplace=True)

In [5]:
NY_Jun2022_df.dropna(how='any', inplace=True)

In [6]:
NJ_Jan2022_df.dropna(how='any', inplace=True)

In [7]:
NJ_Jun2022_df.dropna(how='any', inplace=True)

In [8]:
# drop columns
NY_Jan2022_df = NY_Jan2022_df.drop(columns=["ride_id", "start_station_name", "end_station_name"])

In [9]:
# drop columns
NY_Jun2022_df = NY_Jun2022_df.drop(columns=["ride_id", "start_station_name", "end_station_name"])

In [10]:
# drop columns
NJ_Jan2022_df = NJ_Jan2022_df.drop(columns=["ride_id", "start_station_name", "end_station_name"])

In [11]:
# drop columns
NJ_Jun2022_df = NJ_Jun2022_df.drop(columns=["ride_id", "start_station_name", "end_station_name"])

In [12]:
# rename data fields
NY_Jan2022_df['rideable_type'] = np.where(NY_Jan2022_df['rideable_type']=="classic_bike",1,(np.where(NY_Jan2022_df['rideable_type']=="electric_bike",2,3)))

In [13]:
# rename data fields
NY_Jun2022_df['rideable_type'] = np.where(NY_Jun2022_df['rideable_type']=="classic_bike",1,(np.where(NY_Jun2022_df['rideable_type']=="electric_bike",2,3)))

In [14]:
# rename data fields
NJ_Jan2022_df['rideable_type'] = np.where(NJ_Jan2022_df['rideable_type']=="classic_bike",1,(np.where(NJ_Jan2022_df['rideable_type']=="electric_bike",2,3)))

In [15]:
# rename data fields
NJ_Jun2022_df['rideable_type'] = np.where(NJ_Jun2022_df['rideable_type']=="classic_bike",1,(np.where(NJ_Jun2022_df['rideable_type']=="electric_bike",2,3)))

In [16]:
# rename data fields
NY_Jan2022_df['member_casual'] = np.where(NY_Jan2022_df['member_casual']=="member",1,2)

In [17]:
# rename data fields
NY_Jun2022_df['member_casual'] = np.where(NY_Jun2022_df['member_casual']=="member",1,2)

In [18]:
# rename data fields
NJ_Jan2022_df['member_casual'] = np.where(NJ_Jan2022_df['member_casual']=="member",1,2)

In [19]:
# rename data fields
NJ_Jun2022_df['member_casual'] = np.where(NJ_Jun2022_df['member_casual']=="member",1,2)

In [20]:
NY_Jan2022_df.dtypes

rideable_type         int32
started_at           object
ended_at             object
start_station_id     object
end_station_id       object
start_lat           float64
start_lng           float64
end_lat             float64
end_lng             float64
member_casual         int32
dtype: object

In [21]:
NY_Jun2022_df.dtypes

rideable_type         int32
started_at           object
ended_at             object
start_station_id     object
end_station_id       object
start_lat           float64
start_lng           float64
end_lat             float64
end_lng             float64
member_casual         int32
dtype: object

In [22]:
NJ_Jan2022_df.dtypes

rideable_type         int32
started_at           object
ended_at             object
start_station_id     object
end_station_id       object
start_lat           float64
start_lng           float64
end_lat             float64
end_lng             float64
member_casual         int32
dtype: object

In [23]:
NJ_Jun2022_df.dtypes

rideable_type         int32
started_at           object
ended_at             object
start_station_id     object
end_station_id       object
start_lat           float64
start_lng           float64
end_lat             float64
end_lng             float64
member_casual         int32
dtype: object

In [24]:
# append files

merge_2022 = pd.concat([NY_Jan2022_df, NY_Jun2022_df, NJ_Jan2022_df, NJ_Jun2022_df])
merge_2022.head()

,rideable_type,started_at,ended_at,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,1,2022-01-18 08:23:52,2022-01-18 08:28:18,4488.09,4605.04,40.688489,-73.991160,40.692395,-73.993379,1
1,1,2022-01-21 09:03:22,2022-01-21 09:05:44,5616.08,5659.05,40.727243,-73.976831,40.727408,-73.981420,1
2,1,2022-01-22 14:28:32,2022-01-22 14:53:18,6140.05,6756.05,40.741740,-73.994156,40.762009,-73.996975,1
3,2,2022-01-19 14:49:47,2022-01-19 14:54:02,6850.01,6958.06,40.764175,-73.915840,40.768692,-73.924957,1
4,2,2022-01-16 14:36:06,2022-01-16 14:44:06,4362.04,4748.07,40.685376,-73.983021,40.696233,-73.991421,1

In [25]:
merge_2022.to_csv('../Resources/Jan_vs_Jun 2022.csv', index=False)